@model IEnumerable<Automata_DTaylor_Bugtracker.Models.Project>
@using Automata_DTaylor_Bugtracker.Helpers

<h2>My Projects</h2>
<br />
<br />

<div class="container-fluid">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">My Projects</h4>
        </div>
        <div class="panel-body">
            <table id="data-table-combine" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayName("Project Manager")
                        </th>
                        <th>
                            @Html.DisplayName("Developer(s)")
                        </th>
                        <th>
                            @Html.DisplayName("Submitter(s)")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var projectHelper = new ProjectHelper();
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @foreach (var user in projectHelper.UsersOnProjectByRole(item.Id, "ProjectManager"))
                                {
                                    @user.FullName
                                }
                            </td>
                            <td>
                                @foreach (var user in projectHelper.UsersOnProjectByRole(item.Id, "Developer"))
                                {
                                    @user.FullName
                                    <br />
                                }
                            </td>
                            <td>
                                @foreach (var user in projectHelper.UsersOnProjectByRole(item.Id, "Submitter"))
                                {
                                    @user.FullName
                                    <br />
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                                @if (User.IsInRole("Submitter"))
                                {
                                    @: |
                                    @Html.ActionLink("Create Ticket", "Create", "Tickets", new { projectId = item.Id }, null)
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
